@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: rgb(17, 24, 39);
}

#root {
    background-color: rgb(17, 24, 39);
    min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
